body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

.info-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.main-content {
    margin-top: 50px; /* Make space for the info bar */
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    position: fixed;
    top: 50px; /* Below the info bar */
    left: 0;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar h3 {
    text-align: center;
    color: #333;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;
}

.sidebar a:hover {
    background-color: #e9ecef;
}

.sidebar a[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0%;

    top: 100%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.4
}


.content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
    background-color: #f0f2f5;
    min-height: 100vh;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form.inline-form {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

form.inline-form input {
    flex: 1;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}

.truncated {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
