body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
}


.sidebar h3 {
    text-align: center;
    color: #333;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;

    position: relative;
}


.sidebar a:hover {
    background-color: #e9ecef;
}

.sidebar a[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0%;

    top: 100%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.4
}


.content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
    background-color: #f0f2f5;
    min-height: 100vh;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 10px;

    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;

    padding: 0;
}


li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    color: #007bff;
}

li a:hover {
    text-decoration: underline;
}
